<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <form>
      <div class="form-group">
        <label>Nome*:</label>
        <input type="text" name="nome" class="form-control" [(ngModel)]="cliente.nome" />
      </div>
      <div class="form-group">
        <label>Data de nascimento*:</label>
        <input type="date" name="dataNascimento" [(ngModel)]="cliente.dataNascimento" class="form-control" />
      </div>
      <div class="form-group">
        <label>email*:</label>
        <input type="email" name="email" [(ngModel)]="cliente.email" class="form-control" />
      </div>
      <div class="form-group">
        <label>Arquivo*:</label>
        <input type="file" id="file" (change)="carregarArquivoEmMemoria()" name="file" />
      </div>
      <div class="form-group">
        <input type="submit" (click)="salvar()" value="cadastrar" class="btn btn-block btn-success" />
      </div>
    </form>
  </div>
</div>